@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

.filterContainer {
  width: 100%;
}

.filterContent {
  display: flex;
}

.resolveBtn {
  margin-right: auto;
}

.filters {
  display: flex;
  gap: 10px;
}

.selectFilter {
  min-width: 10rem;
}

.inputFilter {
  min-width: 17.5rem;
}
