@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

.filterContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: space.$s4;
  margin-bottom: space.$s6;

  @media (max-width: breakpoint.$desktop) {
    flex-direction: column;
    gap: 0;
  }
}

.filterItem {
  min-width: 10rem;
}

.inputFilter {
  min-width: 17.5rem;
}

@media (max-width: breakpoint.$desktop) {
  .filterItem,
  .inputFilter {
    width: 100%;
  }
}

// .resolveBtn {
//   background-color: color.$primary-600;
//   height: 44px;
//   padding: 0.625rem 1.125rem;
//   margin-right: space.$s4;
//   color: white;
// }
