@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.footer {
  background-color: color.$gray-50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  height: 60px;

  @media (max-width: breakpoint.$mobile) {
    height: 166px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 0 space.$s8;
    gap: space.$s8;

    .footerContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      .version {
        color: color.$gray-400;

        @media (min-width: breakpoint.$desktop) {
          width: 33%;
        }
      }

      .footerLinks {
        display: flex;
        gap: space.$s6;

        a {
          color: color.$gray-500;
          text-decoration: none;
        }
      }

      .logoContainer {
        display: flex;

        @media (min-width: breakpoint.$desktop) {
          width: 33%;
          justify-content: flex-end;
        }
      }

      @media screen and (max-width: breakpoint.$mobile) {
        display: flex;
        flex-direction: column;
        padding: space.$s6;

        .logoContainer {
          order: 2;
          margin-top: space.$s6;
        }

        .version {
          order: 3;
          margin-top: space.$s6;
        }
      }
    }
  }
}
