@use "@styles/color";
@use "@styles/font";

.header {
  width: min(89%, 80rem);
  height: 80px;
  padding: 0 2rem;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navLinks {
  ul {
    list-style-type: none;
    display: flex;
    padding-left: 2.9rem;
    gap: 2rem;
  }

  ul li a {
    text-decoration: none;
    color: color.$gray-500;
    font: font.$text-md-medium;
  }
}

.dashboardLink {
  width: 10.3rem;
  background-color: color.$primary-600;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  padding: 0.8em 0;
}

.contactButton {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 1rem;
  background: #7f56d9;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border: none;
  cursor: pointer;

  &:hover {
    background: #6941c6;
  }
}
